<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
    <customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0"/>
   
	</system.web>
  <appSettings>
    <add key="connect" value="server=192.168.59.3\SQL;database=THIONLINE;uid=read;pwd=qwertyuiop;" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="DangNhap_Page.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
