* {
margin:0;
}
body {
text-align:center;
}
#wrapper {
margin:auto;
width:1000px;
}
#header 
{
    position:relative;
    padding-top:0;
    margin-top:-30px;
    float:left;
}
#header p
{
   position: absolute;
   top: 20px;
   left: 200px;
   margin: 0 auto;
   width: 700px;
   color:#006400;    
}
.text
{
    font-size:50px;    
    font-weight:bolder;
}
.textarea
{
    resize:none;    
}

.lb
{
    margin-top:10px;
    padding-top:20px;
    font-size:14pt;
}

#footer {
height:50px;
background:#006400;
padding-top:20px;
color:White;
}

p
{
    margin-top:0px;    
}

#body_left {
float:left;
width:200px;
height:600px;
background:#C1FFC1;
}

ul.menu li
{
    background-color:#63B8FF;    
}

ul.menu li li
{
    display:block;
    background:#B0E2FF;    
}

ul.menu li ul
{
    display:none;
    padding:0;    
}
ul.menu li:hover ul
{
    display:block;
}

#body_main {
width:100%;
height:450px;
background:white;
border:solid 1px #778899; 

}
.vide {
clear:both;
}

#taotaikhoan
{
    width:500px;
    background:#CFCFCF; 
    border-radius:10px;
    margin:30px auto auto auto;
}
#tbl_taotk
{
    width:100%;    
}
.button
{
    padding:5px 5px 5px 5px;
    width:100px;
    margin-left:20px;
    border-radius: 10px;
    font-family:Times New Roman;
    font-size:14px;
    font-weight:bolder;
    background:#000000;
    color:#ffffff;
}
.txt
{
    box-shadow: 0 0 5px 3px #000000;    
}
.rdb
{
    margin-left:15px;    
}



.TN_TOP
{
    height:300px;
    width:100%;
    background:#F0FFFF;    
}

#themCH
{
    text-align:left;  
}

